.main{
    display: flex;
    justify-content: space-between;
    width: 65.625rem;
}

@media screen and (max-width: 1024px){
   .main{
    margin-top: 4rem;
   }
}

@media screen and (max-width: 912px){
    .main{
        flex-direction: column;
        margin-top: 2rem;
        align-items: center;
        margin-bottom: 30px;
        justify-content: center;
    }

}

@media screen and (max-width: 539px) {
    .main{
        flex-direction: column;
        align-items: center;
        margin-top: 3%;
        width: 100%;
    }
}

