.add-btn{
    width: 15.625rem;
    height: 3.5rem;
    border-radius: 0.625rem;
    background-color: #FF7E1B;
    border-color: #FF7E1B;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.add-btn:hover{
    opacity: 0.8;
}

.add-btn img{
    padding-right: 0.938rem;
}

.basket{
    filter: invert(96%) sepia(100%) saturate(1%) hue-rotate(12deg) brightness(104%) contrast(101%);
}

@media screen and (max-width: 415px){
    .add-btn{
        width: 100%;
    }
}