.counter-btn{
   width: 157px;
   height: 56px;
   border: 1px solid #F6F8FD;
   border-radius: 10px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #F6F8FD;
   font-size: 16px;
   font-family: 'Kumbh Sans', sans-serif;
   font-weight: bold;
   color: #1D2026;
}

.counter-btn img:hover{
    cursor: pointer;
}