.counter-btn{
   width: 9.813rem;
   height: 3.5rem;
   border: 0.063rem solid #F6F8FD;
   border-radius: 0.625rem;
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #F6F8FD;
   font-size: 1rem;
   font-family: 'Kumbh Sans', sans-serif;
   font-weight: bold;
   color: #1D2026;
}

.counter{
    margin-right: 2.188rem;
}

.counter-btn img:hover{
    cursor: pointer;
}

@media screen and (max-width: 415px){
    .counter{
        width: 100%;
        margin-right: 0;
    }

    .counter-btn{
        width: 100%;
    }
}