.container{
    /* border: 2px solid red; */
    width: 445px;
    height: 565px;
    margin-left: 40px;
    
}

.container__image{
    border-radius: 15px;
    margin-bottom: 28px;
    height: 445px;
    width: 445px;
}

.container__thumbnail{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
}

.thumbnail img {
    border-radius: 10px;
    height: 86px;
    width: 86px;
    
    
}

.clicked{
    
    border: 3px solid red;
}



