.nav{
    width: 70%;
    height: 50px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid yellow;
    margin-top: 28px;
}

.nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*LOGO*/
.nav__logo{
    cursor: pointer;
    /* border: 2px solid red; */
}

.logo__icon{
    height: 20px;  
    width: 137.5px;
}

/*MOBILE*/
.mobileIcon{
    display: none;
}

/*NAV UL*/
.nav__menu{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu__item{
    text-decoration: none;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: #69707D;
    transition: all 0.2s ease-in-out;
    /* border: 1px solid fuchsia; */
    align-self: center;
    padding-right: 33px;
}

.menu__item:hover{
    transition: all 0.2s ease-in-out;
    text-decoration: underline #FF7E1B;
    text-decoration-thickness: 3px;
    text-underline-offset: 41px;
    color: black;
}

/*BASKET + AVATAR*/
.nav__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}

#basket{
    height: 20px;  
    width: 21.82px;
    transition: all 0.2s ease-in-out;
    position: relative; 
    filter: invert(53%) sepia(5%) saturate(25%) hue-rotate(91deg) brightness(93%) contrast(89%);
    
}

#basket:hover{
    filter: invert(0%) sepia(13%) saturate(7486%) hue-rotate(293deg) brightness(99%) contrast(99%);
    transition: all 0.2s ease-in-out;
}

.info__avatar{
    height: 50px;  
    width: 50px;
    transition: all 0.1s ease-in-out;
}

.info__avatar:hover{
    transition: all 0.1s ease-in-out;
    border: 2px solid #FF7E1B;
    border-radius: 50%;
}

/*CART BLOCK*/
.show-block{
    width: 360px;
    height: 256px;
    position: absolute;
    z-index: 100;
    top: 10%;
    right: 9%;
    box-shadow: 2px 2px 2px 2px #979797;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: 'Kumbh Sans', sans-serif;
    /* justify-content: space-between; */
    
}

.basket-amount{
    background-color: #FF7E1B;
    position: absolute;
    top: 3.8%;
    right: 18.7%;
    width: 19px;
    height: 13px;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    z-index: 300;
    
}

.cart-name{
    margin-top: 7%;
    align-self: flex-start;
    color: #1D2026;
    font-size: 16px;
    font-weight: bold;
    /* border: 2px solid red; */
    padding-left: 24px;
    font-family: 'Kumbh Sans', sans-serif;

}

.empty-cart{
    color: #69707D;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20%;
   
}

.cart-content{
    width: 90%;
    height: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid green; */
    margin-top: 3%;
    
}

.cart-content-show{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid orange; */
}

.remove{
    width: 14px; 
    height: 16px;
    transition: all 0.2s ease-in-out;
    filter: invert(51%) sepia(0%) saturate(341%) hue-rotate(178deg) brightness(98%) contrast(85%);
}

.remove:hover{
    filter: invert(0%) sepia(0%) saturate(7490%) hue-rotate(179deg) brightness(95%) contrast(100%);
    transition: all 0.2s ease-in-out;
}

.cart-thumbnail{
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.cart-title{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #69707D;
    margin-bottom: 0;
}

.cart-price{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #69707D;
    margin-top: 0;
}

/*CHECKOUT BTN*/
.cart-checkout{
    width: 312px;
    height: 56px;
    border-radius: 10px;
    border-color: #FF7E1B;
    background-color: #FF7E1B;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.cart-checkout:hover{
    opacity: 0.8;
}