.nav{
    width: 70%;
    height: 3.125rem;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border: 0.125rem solid yellow; */
    margin-top: 1.75rem;
}

.nav__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*LOGO*/
.nav__logo{
    cursor: pointer;
    /* border: 2px solid red; */

    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__icon{
    /* height: 1.25rem;   */
    width: 8.594rem;
}

/*MOBILE*/
.mobileIcon{
    display: none;
}

/*NAV UL*/
.nav__menu{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu__item{
    text-decoration: none;
    cursor: pointer;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.938rem;
    line-height: 1.625rem;
    color: #69707D;
    transition: all 0.2s ease-in-out;
    /* border: 1px solid fuchsia; */
    align-self: center;
    padding-right: 2.063rem;
}

.menu__item:hover{
    transition: all 0.2s ease-in-out;
    text-decoration: underline #FF7E1B;
    text-decoration-thickness: 0.188rem;
    text-underline-offset: 2.563rem;
    color: black;
    cursor: pointer;
}

/*BASKET + AVATAR*/
.nav__info{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 6.25rem;
    justify-content: space-between;

    height: 100px;
}

#basket{
    height: 1.25rem;  
    width: 1.364rem;
    transition: all 0.2s ease-in-out;
    position: relative; 
    filter: invert(53%) sepia(5%) saturate(25%) hue-rotate(91deg) brightness(93%) contrast(89%);
    
}

#basket:hover{
    filter: invert(0%) sepia(13%) saturate(7486%) hue-rotate(293deg) brightness(99%) contrast(99%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.info__avatar{
    height: 3.125rem;  
    width: 3.125rem;
    transition: all 0.1s ease-in-out;
}

.info__avatar:hover{
    transition: all 0.1s ease-in-out;
    border: 0.125rem solid #FF7E1B;
    border-radius: 50%;
    cursor: pointer;
}

/*CART BLOCK*/
.show-block{
    width: 22.5rem;
    height: 16rem;
    position: absolute;
    z-index: 100;
    top: 10%;
    right: 9%;
    box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #979797;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    font-family: 'Kumbh Sans', sans-serif;
    /* justify-content: space-between; */
    
}

.basket-amount{
    background-color: #FF7E1B;
    position: absolute;
    top: 3.8%;
    right: 18.7%;
    width: 1.188rem;
    height: 0.813rem;
    color: white;
    font-size: 0.625rem;
    display: flex;
    justify-content: center;
    border-radius: 0.938rem;
    z-index: 300;
    
}

.cart-name{
    margin-top: 7%;
    align-self: flex-start;
    color: #1D2026;
    font-size: 1rem;
    font-weight: bold;
    /* border: 2px solid red; */
    padding-left: 1.5rem;
    font-family: 'Kumbh Sans', sans-serif;

}

.empty-cart{
    color: #69707D;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 20%;
   
}

.cart-content{
    width: 90%;
    height: 60%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid green; */
    margin-top: 3%;
    
}

.cart-content-show{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid orange; */
}

.remove{
    width: 0.875rem; 
    height: 1rem;
    transition: all 0.2s ease-in-out;
    filter: invert(51%) sepia(0%) saturate(341%) hue-rotate(178deg) brightness(98%) contrast(85%);
}

.remove:hover{
    filter: invert(0%) sepia(0%) saturate(7490%) hue-rotate(179deg) brightness(95%) contrast(100%);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.cart-thumbnail{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.25rem;
}

.cart-title{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #69707D;
    margin-bottom: 0;
}

.cart-price{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #69707D;
    margin-top: 0;
}

/*CHECKOUT BTN*/
.cart-checkout{
    width: 19.5rem;
    height: 3.5rem;
    border-radius: 0.625rem;
    border-color: #FF7E1B;
    background-color: #FF7E1B;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.cart-checkout:hover{
    opacity: 0.8;
    cursor: pointer;
}


@media screen and (max-width: 415px) 
{
    .nav{
        width: 85%;
    }
    .nav__container{
       flex-direction: column;
    }

    .mobileIcon{
        display: block;
        /* padding-right: 0.8rem; */
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* border: 1px solid yellowgreen; */
        width: 30px;
    }

    .nav__menu{
        display: none;
    }

    .nav__menu.is-open{
        z-index: 30000;
        border: 2px solid green;

        position: absolute;
        padding: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        top: 10%;
        left: 0%;
        width: 89%;
        height: 100vh;
        border-radius: 10px;
        padding-top: 15%;
        overflow: hidden;
        
       
    }

    .logo-icon__container{
        display: flex;
        justify-content: space-between;
        width: 170px;
    }

    .menu__item{
        font-size: 30px;
        font-weight: bold;
        line-height: 26px;
        color: #1D2026;
        padding-top: 25px;
        padding-left: 10px;

        
    }

    .menu__item:hover{
        color: #FF7E1B;
        text-decoration: none;
    }

    .show-block{
        border-radius: 10px;
        margin-top: 5%;
    }

    .cart-checkout{
        width: 1rem;
    }
    .info__avatar{
        width: 2.8rem;
    }
}